<nav class="nav">
  <div class="nav-container-2">
    <%= link_to destroy_user_session_path, method: :delete do%>
    <%= link_to users_path do%>
      <%= image_tag 'back-icon.png', class: 'menu-icon' %>
    <% end %>
    <% end %>
    <h1 class="cat-title sign-up">Sign UP</h1>
  </div>
</nav>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: 'text-field', autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: 'text-field', autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, class: 'text-field', autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class: 'text-field', autocomplete: "new-password" %>
  </div>

  <div class="actions next-action">
    <%= f.submit "Next", class: 'next'%>
  </div>
<% end %>
